<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="10"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
    <center><b><h1>Karan Sonagara - 24010101694</b></center>
<center><b><h1>Lab - 1</b></center>    
<pre>

### 01) WAP to print “Hello World”

In [1]:
print("Hello World")

Hello World

### 02) WAP to print addition of two numbers with and without using input().

In [9]:
a,b = 5,10
print(a+b)

15

In [12]:
a = int(input("Enter A:"))
b = int(input("Enter B:"))
print(a+b)

Enter A: 10
Enter B: 20

30

### 03) WAP to check the type of the variable.

In [5]:
a = 10
print(type(a))

<class 'int'>

In [7]:
k = "Karan"
print(type(k))

<class 'str'>

### 04) WAP to calculate simple interest.

In [14]:
p = int(input("Enter p:"))
r = int(input("Enter r:"))
t = int(input("Enter t:"))
total = (p*r*t)/100
print("Total Answer:",total)

Enter p: 1
Enter r: 2
Enter t: 3

Total Answer: 0.06

### 05) WAP to calculate area and perimeter of a circle.

In [16]:
radius = int(input("Enter Radius"))
area = 3.14 * radius * radius
print(area)

Enter Radius 2

12.56

### 06) WAP to calculate area of a triangle.

In [18]:
breadth = int(input("Enter Breadth:"))
height = int(input("Enter Height:"))
area = (breadth * height) / 2
print(area)

Enter Breadth: 2
Enter Height: 3

3.0

### 07) WAP to compute quotient and remainder.

In [20]:
divisor = int(input("Enter Divisor:"))
divinded = int(input("Enter Divinded"))
print(divisor/divinded)
print(divisor%divinded)
print(divisor//divinded)

Enter Divisor: 2
Enter Divinded 3

0.6666666666666666
2
0

### 08) WAP to convert degree into Fahrenheit and vice versa.

In [36]:
cel = int(input("Enter Celsuis"))
fah = (cel*9/5) + 32
print(fah)

Enter Celsuis 6

42.8

In [34]:
fah = int(input("Enter Celsuis"))
cel = (fah + 32) * 9/5
print(cel)

Enter Celsuis 5

66.6

### 09) WAP to find the distance between two points in 2-D space.

In [76]:
x1 = int(input("X1"))
y1 = int(input("Y1"))
x2 = int(input("X2"))
y2 = int(input("Y2"))
total = (((x2 - x1)**2 +(y2 - y1)**2)**0.5)
print(total)

X1 3
Y1 4
X2 4
Y2 3

1.4142135623730951

### 10) WAP to print sum of n natural numbers.

In [52]:
n = int(input("Enter N"))
total = (n*(n+1)/2)
print(total)

Enter N 5

15.0

### 11) WAP to print sum of square of n natural numbers.

In [74]:
n = int(input("Enter N"))
total = (n*n*(n+1)/2)
print(total)

Enter N 2

6.0

### 12) WAP to concate the first and last name of the student.

In [38]:
first = input("Enter First")
last = input("Enter Last")
print(first + last)

Enter First Karan
Enter Last Songara

KaranSongara

### 13) WAP to swap two numbers.

In [40]:
a,b = 5,10
a,b = b,a
print(a,b)

10 5

### 14) WAP to get the distance from user into kilometer, and convert it into meter, feet, inches and centimeter.

In [78]:
kilometer=float(input("Enter The Kilometer : "));
meter=kilometer*1000;
cm=meter*100;
inch=cm/2.54;
feet=inch/12;
print("Kilometers : ",kilometer);
print("Meters  : ",meter);
print("Centimeters : ",cm);
print("Inches : ",inch);
print("Feet : ",feet);

Enter The Kilometer :  5

Kilometers :  5.0
Meters  :  5000.0
Centimeters :  500000.0
Inches :  196850.3937007874
Feet :  16404.199475065616

### 15) WAP to get day, month and year from the user and print the date in the given format: 23-11-2024.

In [15]:
day = input("Enter Day:")
month = input("Enter Month:")
year = input("Enter Year")
print(day , month , year, sep="-")

Enter Day: 23
Enter Month: 11
Enter Year 2024

23-11-2024