
<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2301CS404</b></center>
    <center><b><h1>Karan Sonagara - 24010101694</b></center>
<center><b><h1>Lab - 5</b></center>    
<pre>

# List

### 01) WAP to find sum of all the elements in a List.

In [13]:
l1 = [1,2,3,4,5]
sum=0
for i in l1:
    sum+=i
print(sum)

15

### 02) WAP to find largest element in a List.

In [9]:
l1 = [1,2,3,20,5]
large = max(l1)
print(large)

20

### 03) WAP to find the length of a List.

In [15]:
l1 = [15,20,30,40,75]
total = len(l1)
print(total)

5

### 04) WAP to interchange first and last elements in a list.

In [60]:
li = [11,45,88,45,35,22]
print(li)
li[0],li[-1] = li[-1],li[0]
print(li)

[11, 45, 88, 45, 35, 22]
[22, 45, 88, 45, 35, 11]

### 05) WAP to split the List into two parts and append the first part to the end.

In [71]:
li = [1,2,3,4,5,6,7,8,9,10]
l2 = len(li) // 2
ans = li[l2::] + li[:l2:]
print(ans)

[6, 7, 8, 9, 10, 1, 2, 3, 4, 5]

### 06) WAP to interchange the elements on two positions entered by a user.

In [75]:
l1 = [1,2,3,5,6,4,8,6]
print(l1)
pos1 = int(input("1"))
pos2 = int(input("2"))
l1[pos1],l1[pos2] = l1[pos2],l1[pos1]
print(l1)

[1, 2, 3, 5, 6, 4, 8, 6]

1 1
2 5

[1, 4, 3, 5, 6, 2, 8, 6]

### 07) WAP to reverse the list entered by user.

In [11]:
l1 = [1,2,3,4,5]
rev = l1[::-1]
print(rev)

[5, 4, 3, 2, 1]

### 08) WAP to print even numbers in a list.

In [13]:
l1 = [1,2,59,4,67,9]
for i in l1:
    if i%2==0:
        print(i)

2
4

### 09) WAP to count unique items in a list.

In [1]:
l1 = [1,1,2,2,3,4,5,5,6]
count=0
l2 = []

for i in l1:
    if i not in l2:
        count+=1
        l2.append(i)
print(count)

9

### 10) WAP to copy a list.

In [15]:
l1 = ["Car","Darshan","College"]
l2 = l1.copy()
print(l2)

['Car', 'Darshan', 'College']

### 11) WAP to print all odd numbers in a given range.

In [22]:
n = int(input("Enter N:"))
for i in range(1,n+1):
    if i%2!=0:
        print(i)

Enter N: 20

1
3
5
7
9
11
13
15
17
19

### 12) WAP to count occurrences of an element in a list.

In [53]:
li = [1,2,3,45,1,2,6,7,8,8,9,1]
a = int(input("Enter No"))
b = li.count(a)
print(b)

Enter No 8

2

### 13) WAP to find second largest number in a list.

In [101]:
l1 = [1,2,100,60,50,8]
l1.sort()
print(l1[-2])

60

### 14) WAP to extract elements with frequency greater than K.

In [119]:
l1 = [1,1,1,2,2,4,3,4,5,4,1,1]
k = 2
l2 = []
for i in l1:
    freq = l1.count(i)
    if freq>k and i not in l2:
        l2.append(k)
print(l2)

[2, 2, 2, 2, 2, 2, 2, 2]

### 15) WAP to create a list of squared numbers from 0 to 9 with and without using List Comprehension.

In [49]:
data = [1,2,3,4,5,6,7,8,9]
result = [i*i for i in data]
print(result)

#Without

num = [1,2,3,4,5,6,7,8,9]
for i in num:
    print(i*i)

[1, 4, 9, 16, 25, 36, 49, 64, 81]
1
4
9
16
25
36
49
64
81

### 16) WAP to create a new list (fruit whose name starts with 'b') from the list of fruits given by user.

In [57]:
li = ["blackberry", "apple", "banana"]
for i in li:
    if i[0]=='b':
        print(i)

blackberry
banana

### 17) WAP to create a list of common elements from given two lists.

In [27]:
l1 = [1,2,3,4,5]
l2 = [2,8,4,5,7]
co = []
for i in l1:
    if i in l2:
        co.append(i)
print(co)

[2, 4, 5]